<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <a class="btn btn-outline-primary float-right" href="/shows">Go Back</a>
    <h1>Edit Show</h1>
    <form action="/editShowtoDB/{{show.id}}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="form-group">
          <label for="form_title">Title</label>
          <input class="form-control" type="text" id="form_title" name="form_title" value={{show.title}}>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="form_network">Network</label>
          <input class="form-control" type="text" id="form_network" name="form_network" value={{show.network}}>
        </div>
        <div class="form-group col">
          <label for="form_release_date">Release Date</label>
          <input class="form-control" type="date" name="form_release_date" id="form_release_date" value={{ release_date}}>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="form_description">Description</label>
          <textarea name="form_description" id="form_description" cols=100% rows="3">{{show.description}}</textarea>
        </div>
      </div>
      <div class="row">
        <button>Submit</button>
      </div>
    </form>
    <a class="btn btn-outline-primary" href="/shows/{{show.id}}">Go to Show</a>
  </div>
</body>

</html>
